/* [ BOOTSTRAP CSS START ] */

@import "bootstrap/bootstrap.scss";

/* [ ELEMENTS CSS START ] */

html {
    height: 100% !important;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.6;
    padding: 0;
    font-family: $font;
    font-size: 14px;
    color: $color5;
    background-color: #f5f5f5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1.6;
    font-weight: 400;
    cursor: pointer;
    &:hover,
    &:active {
        text-decoration: none;
        outline: 0;
        color: inherit;
    }
}

p,
span {
    line-height: 1.6;
}

label {
    line-height: 1.6;
    font-weight: 400;
    margin: 0;
}

input,
textarea {
    font-family: $font;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: 0;
    &:focus {
        //border: 0;
        outline: 0;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
}

button {
    background-color: transparent;
    border: 0;

    &:active {
        outline: none;
    }
}

select {
    //border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontHeading;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: normal;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

blockquote {
    font-family: $font;

    &::after {
        display: none;
    }
    &::before {
        display: none;
    }
}

.blockquote {
    font-size: 18px;
    padding: .5rem 1rem;
    margin: 0 0 1rem;
    font-style: normal;
    font-family: $fontHeading;
    margin-bottom: 1rem;
    color: $color5;
    border-left: .25rem solid #eceeef;
}

/* [ FONTSIZE CSS START ] */
.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px!important;
}

.font-20 {
    font-size: 20px!important;
}

.font-24 {
    font-size: 24px!important;
}

.font-28 {
    font-size: 28px!important;
}

.font-30 {
    font-size: 30px!important;
}

.font-32 {
    font-size: 32px!important;
}

.font-36 {
    font-size: 36px!important;
}

/* [ FONT WEIGHT CSS START ] */
.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

/* [ FONT FAIMILY CSS START ] */

.font-poppins {
    font-family: $font;
}

.font-dosis {
    font-family: $fontHeading;
}

/* [ BODY ] */
body {
    background-color: $colorF;
    background-image: url(../../images/background-dust.png);/* Background pattern from Toptal Subtle Patterns */
    background-repeat: repeat;
    background-position: top; 
}



@import "_color.scss";