/* [ COLOR CLASS CSS START ] */
.setting {
    position: fixed;
    top: 30%;
    right: 0;
    width: 160px;
    z-index: 11;
}

.setting-handle {
    position: absolute;
    top: 0;
    left: -42px;
    background: $colorF;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    .fa {
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 20px;
        color: $color7;
        box-shadow: -9px 6px 10px 0 #33333385;
        cursor: pointer;
    }
}

.setting-wrapper {
    position: absolute;
    top: 0;
    right: -164px;
    width: 160px;
    background: $colorF;
    box-shadow: 0 6px 10px 0 rgba(51, 51, 51, 0.52);
    transition: all .7s;
}

.setting-container {
    text-align: center;

    .setting-layout {
        padding: 10px 10px;
        a {
            display: inline-block;
            width: 46%;
            height: 30px;
            line-height: 30px;
            margin: 0 2%;
            font-size: 12px;
            color: $color3;
            text-align: center;
            border: 1px solid $colorD;
            transition: all 0.3s;
            border-radius: 2px;

            &:hover, &.active {
                background-color: $colorE;
            } 
        }
    }

    .setting-color {

        a {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 2px;
            margin: 5px;
        }
    }
}

/* [ SLIDER CSS START ] */
.dots-overlay {
    .owl-nav.disabled + .owl-dots {
        margin-top: -26px;
    }
    .owl-dots {
        position: relative;
        z-index: 9;

        .owl-dot {

            span {
                background-color: $colorF;
            }

            &.active {

                span {
                    background-color: $color-primary-0;
                }
            }
        }
    }
}


/* [ IMAGE CSS START ] */

.img-hover-icon {
    position: relative;

    &:hover {
        .img-icon-wrapper {
            opacity: 1;
            visibility: visible;
        }

        .img-icon {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
}

.img-icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.6);
    transition: all .4s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        top: 2%;
        left: 2%;
        width: 96%;
        height: 96%;
        background-color: $color3;
        opacity: .8;
    }

    .img-icon {
        position: relative;
        top: 50%;
        margin-top: -30px;
        text-align: center;
        transform: scale(0);
        transition: all .4s ease;
        transition-delay: .2s;
        opacity: 0;
        visibility: hidden;
        z-index: 11;

        a {
            display: inline-block;
            vertical-align: middle;
            margin: 5px;

            i {
                display: block;
                font-size: 20px;
                color: $colorF;
                width: 48px;
                height: 48px;
                line-height: 48px;
                color: $color7;
                border-radius: 50%;
                background-color: $colorF;
            }
        }
    }
}

.img-icon-colored {
    &::after {
        background-color: $color-primary-0;
    }
}

.img-shadow {
    box-shadow: 10px 20px 74px -15px rgba(0, 0, 0, 0.33);
}

.card-shadow {
    box-shadow: 10px 20px 74px -15px rgba(0, 0, 0, 0.33);
}

.card-hover-shadow {
    transition: all .4s ease-in-out;
    &:hover {
        box-shadow: 10px 20px 74px -15px rgba(0, 0, 0, 0.33);
    }
}