/* [ CONTACTO CSS START ] */
.contact {
    padding: 60px 10px;
    border: 1px solid $colorE;
    text-align: center;

    i {
        font-size: 58px;
        color: $colorD;
    }

    span {
        display: block;
        font-size: 16px;
        padding: 30px 0 10px 0;
        color: $colorA;
    }

    p {
        font-size: 20px;
        color: $color7;
    }
}

.contact-block {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    margin-top: -150px;
    background-color: $colorF;
    position: relative;
    z-index: 9;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);

    .block {
        text-align: center;
        
        i {
            display: inline-block;
            width: 100px;
            line-height: 100px;
            text-align: center;
            font-size: 48px;
            color: $color-primary-0;
            border: 2px solid $color-primary-0;
            border-radius: 50%;
            transition: all .2s ease-in-out;

            &:hover {
                color: $colorF;
                box-shadow: inset 0 0 400px 0 $color-primary-0;
            }
        }

        span {
            display: block;
            font-size: 24px;
            padding: 20px 0;
            font-family: $fontHeading;
            color: $color3;
        }

        p {
            font-size: 16px;
            color: $color7;
            margin: 0 0 5px 0;
        }
    }
}


/* [ MAP CSS START ] */
#map-container {
    width: 100%;
    height: 500px;
}