.form-input {
    width: 100%;

    label {
        color: $color7;
    }

    input, textarea {
        border-color: $color5;
    }
}

.or-using {
    position: relative;
    width: 70%;
    height: 1px;
    margin: 30px auto;
    font-size: 0;
    background: $colorD;
    text-align: center;

    &::before {
        content: 'Or Using';
        position: absolute;
        top: -10px;
        left: 50%;
        display: inline-block;
        margin-left: -55px;
        padding: 0 30px; 
        font-size: $smallFont;
        color: $color7;
        background: $colorF;
        z-index: 1;
    }
}

.social-login {
    text-align: center;
    a {
        display: inline-block;
        width: 49%;
        padding: 12px 0;
        font-size: $sMediumFont;
        color: $colorF;

        .fa {
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            margin: 0 10px 0 0;
            background: $colorF;
            border-radius: 2px;
        }

        .fa-facebook {
            color: #3B5999;
        }

        .fa-google {
            color: #DC4A38;
        }
    }
}

.social-facebook {
    background: #3B5999;
}

.social-google {
    background: #DC4A38;
}

.login-link {
    text-align: center;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    background: #f4f4f4;
    margin: 20px auto 0 auto;
    
    span {
        display: block;
        text-align: center;
    }

    a {
        display: inline-block;
        font-size: $sMediumFont;
        color: $color-primary-0;
        letter-spacing: .5px;
        margin: 0 0 0 5px;
        cursor: pointer;
    }
}
