.funfacts {
    width: 100%;
    background-color: #fafafa;
    overflow: hidden;
}

.counter-block {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding: 20px 0 40px 0;

    i {
        width: 80px;
        height: 80px;
        line-height: 70px;
        text-align: center;
        display: inline-block;
        font-size: 32px;
        color: $color7;
        border: 5px solid #f1f1f1;
        border-radius: 50%;
    }
    
    h4 {
        color: $color7;
        font-size: 28px;
        font-weight: 600;
        margin: 10px 0 ;
    }

    >span {
        font-size: 14px;
        color: $color5;
    }
}