.grid-container {
}

.grid {
    margin-bottom: 30px;
}

.grid-img {
    position: relative;

    img {
        width: 100%;
    }
}

.grid-content {
    padding: 0 5px;

    .title {
        font-size: 20px;
        margin: 10px 0 5px 0;
        a {
            color: $color5;
        }
    }

    .date {
        font-size: $colorA;
    }

    .description {
        color: $color7;
        letter-spacing: .5px;
    }
}