/* [ Mosaico CSS START ] */

.mosaico {
    min-height: 450px;
    width: 100%;

    .mosaico-wraper-img  {

        img {
            max-width:100%;
            min-height: 400px;
        }
    }

    .row {
        margin-right: 0px; 
        margin-left: 0px; 
        background-color: rgb(241, 241, 241);

        .col-12, .col-md-6 {
            padding-right: 0px;
            padding-left: 0px; 
            min-height: 400px;
        }
    }

    .mosaico-wraper-desc {

        .mosaico-wraper-content {
            padding: 30px;


            h2 {
                font-weight: 700;
                size: 28px;
            }

            p {
                font-weight: 400;
                size: 16px;
                line-height: 30px;
            }
        }
    }
    
}


.mosaico-home {
    
    min-height: 450px;
    width: 100%;

    .mosaico-wraper-img  {

        img {
            max-width:100%;
            min-height: 400px;
        }
    }

}


@media (min-width: 2000) {
    .mosaico { 

        .mosaico-wraper-img  {

            min-width:1280px; 
        }
    }
}