/* [ NOT FOUND PAGE CSS START ] */

.notfound-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 0 0 0;
}

.notfound-ttl {
    font-size: 150px;
    text-transform: uppercase;
    color: #F09E71;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.notfound-tag-1 {
    font-size: 48px;
    text-transform: uppercase;
    color: $color3;
    margin: 10px 0;
    font-weight: 600;
}

.notfound-tag-2 {
    display: block;
    font-size: 28px;
    color: $color5;
    margin: 10px 0;
}

.notfound-link {
    margin: 30px 0;
}

.notfound-link a {
    margin: 30px;
}

.notfound-social {

    li {
        margin: 10px;
        a {
            font-size: 24px;
        }
    }
}