.portfolio {
    background-color: #f4f4f4;
}

.portfolio-wrapper {
    padding: 20px 0 0 0;
    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
}

.portfolio-header {
    margin-bottom: 20px; 
}

.portfolio-filter {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: $color7;
    border-radius: 60px;
    padding: 10px 20px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: 2px solid $colorE;
    border-radius: 60px;
    transition: all .4s ease-in-out;

    &:hover, &:active, &:focus {
        color: $colorF;
        box-shadow: inset 10em 0 0 0 $color-primary-0;
    }

    &:active, &:focus {
        outline: none;
    }

    &.active {
        color: $colorF;
        box-shadow: inset 10em 0 0 0 $color-primary-0;
    }
}

.portfolio-img {
    list-style: none;
    margin-bottom: 30px;
    overflow: hidden;
    
    a {
        display: inline-block;
    }

    img {
        width: 100%;
    }

    figure {
        position: relative;
        margin: 0;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.70);
            z-index: 1;
            opacity: 0;
            transition: all .4s ease-in-out;
        }

        figcaption {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 60px;
            background: $color5;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
            z-index: 2;

            .title {
                float: left;
                font-size: 20px;
                color: $colorF;
                margin: 0;
                padding: 0 10px;
                line-height: 60px;
            }

            .icon {
                float: right;
                margin: 0;
                padding: 0 10px;

                a {
                    font-size: 16px;
                    margin: 0 5px;
                    color: $colorF;
                    line-height: 60px;

                    &:hover {
                        color: $color-primary-0;
                    }
                }
            }

            .description {
                position: absolute;
                width: 100%;
                bottom: 12em;
                margin: 0;
                opacity: 0;
                text-align: center;
                color: $colorF;
                -webkit-backface-visibility: hidden; 
            }

            .title, .icon, .description {
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
        }

        &:hover {

            &::before, .description {
                opacity: 1;
            }

            figcaption {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }
    }
}

.portfolio-nospacing {

    li {
        margin: 0;
        padding: 0;
    }
}