.shop-filter {
    background: #f8f8f8;
    padding: 10px;
    margin: 0 0 30px 0;
}

.shop-sidebar {
    color: $color5;
    background: #f8f8f8;
    margin-bottom: 30px;
    box-shadow: none;
}

.product-card {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.product-img {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
    a {
        display: block;

        img {
            width: 100%;
        }
    }
}

.product-details {
    width: 100%;

    .title {
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        a {
            color: $color3;

            &:hover {
                color: $color-primary-0;
            }
        }
    }

    .price {
        margin-bottom: 5px;
        font-size: 18px;
        color: $color-success;
        font-family: $fontHeading;

        del {
            color: $color9;
            font-size: 14px;
            padding: 0 5px 0 0;
        }
    }

    .description {
        margin: 5px 0;
    }

    .rating {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        color: $color-danger;
    }
}

.product-list {
    .product-img {
        padding: 0;
    }
}

.widget-product {
    padding: 0;
    margin: 0;
    
    li {
        margin: 0 0 20px 0;

        &:nth-last-child(1) {
            margin: 0;
        }
    }

    .img {
        img {
            width: 100%;
        }
    }

    .title {
        display: block;
        font-size: 18px;
        color: $color5;
        margin: 0;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .price {
        font-size: 14px;
        color: $color-success;
    }

    .link {
        padding: 2px 0 0 0;
        a {
            display: inline-block;
            font-size: 12px;
            color: $color3;

            i {
                margin: 0 5px 0 0 ;
            }

            &:hover {
                color: $color-primary-0;
            }
        }
    }
}

.featured-product, .related-product {

    h6 {
        font-size: 20px;
        color: $color3;
        margin: 0;
    }

    .price {
        margin-bottom: 5px;
        font-size: 18px;
        font-family: $fontHeading;

        del {
            color: $color9;
            font-size: 14px;
            padding: 0 5px 0 0;
        }
    }
}

.shopp-details {

    h2 {
        font-size: 24px;
        color: $color3;
    }

    .price {
        font-size: 20px;
        color: $color-success;
        font-family: $fontHeading;

        del {
            color: $color7;
            padding: 0 5px 0 0;
        }
    }

    .description {
        margin: 15px 0 0 0;
        font-size: 14px;
        color: $color7;
    }

    .list {
        margin: 0;
        padding: 15px 0 0 0;
        border: 0;

        li {
            list-style: none;
            font-size: 14px;
            color: $color5;
            padding: 5px 0 5px 0;

            strong {
                display: inline-block;
                width: 100px;
            }
        }
    }

    .meta {
        padding: 15px 0 0 0;
        margin: 0;
        span {
            display: inline-block;
            vertical-align: middle;
            padding: 0 10px 0 0;
        }
    }

    .cart-button {
        padding: 30px 0 0 0;

        a {
            display: inline-block;
            margin: 10px;
        }
    }
}