.card-realstate {
    position: relative;
    margin-bottom: 30px;

    .image {
        img {
            width: 100%;
        }

        .ribbon {
            position: absolute;
            top: 10px;
            left: -10px;
            min-width: 100px;
            text-align: center;
            padding: 5px;
            font-size: 12px;
            color: $colorF;
            background: $color-primary-0;
            box-shadow: 10px 11px 25px 2px rgba(0, 0, 0, 0.33);

            &::before {
                content: '';
                position: absolute;
                bottom: -9px;
                left: 0;
                border-top: solid 5px #444;
                border-right: solid 5px #444;
                border-bottom: solid 5px transparent;
                border-left: solid 5px transparent;
            }
        }
    }

    .details {
        padding: 10px;
        h3 {
            font-size: 20px;
            color: $color5;
            margin: 0;
        }
    }

    .price {
        font-size: 16px;
        color: $color-primary-0;
    }

    .box {
        margin: 8px 0 0 0;
        padding: 8px 0 0 0;
        border-top: 1px solid $colorD;
        p {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            color: $color5;
            margin: 0;
            margin-right: 5px;
            span {
                &:nth-child(1) {
                    color: $color3;
                    font-weight: 500;
                }
            }
        }

        .separator {
            display: inline-block;
            vertical-align: middle;
            width: 1px;
            height: 20px;
            background: $colorD;
        }
    }
}

.card-best-location {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    overflow: hidden;
    z-index: 90;

    .image {
        background-size: cover;
        background-position: 50%;
        width: 100%;
        height: 100%;
        transition: all 0.55s;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        transition: transform 0.35s ease-out;

        &:hover {
            transform: scale(1.1);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(0,0,0,.4);
            z-index: 99;
            transition: 0.3s ease-out;
        }
    }

    .location {
        position: absolute;
        z-index: 101;
        top: 50%;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        transform: translate(0,-50.5%);
        p {
            font-family: $fontHeading;
            font-size: 36px;
            color: $colorF;
        }

        span {
            font-size: 20px;
            color: $colorD;

        }
    }
}

.card-most-visited {
    position: relative;
    display: block;
    width: 100%;

    .image {

        &::before {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 9;
            background: linear-gradient(to top, rgba(35, 35, 37, 0.98) 0%, rgba(35, 35, 37, 0.41) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%);
            border-radius: 4px;
        }

        img {
            width: 100%;
            border-radius: 4px;
        }
    }

    .tag {
        position: absolute;
        top: 24px;
        left: 0;
        padding: 0 32px;
        width: 100%;
        color: $colorE;
        font-weight: 500;
        font-size: 15px;
        z-index: 50;
    }

    .details {
        position: absolute;
        bottom: 28px;
        left: 0;
        padding: 0 32px;
        padding-right: 90px;
        width: 100%;
        z-index: 50;
        .title {
            color: #fff;
            font-size: 20px;
            position: relative;
            font-weight: 500;
            margin: 8px 0px 0 0;
        }

        .descr {
            font-size: 16px;
            font-weight: 300;
            display: inline-block;
            color: rgba(255,255,255,0.7);
        }
    }
}

.card-agent {
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
    background-color: $color-primary-4;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.08);

    .tbl-cell {
        padding: 10px;
    }

    img {
        width: 80px;
        margin: 0 auto;
        border-radius: 50%;
    }

    h5 {
        font-size: 24px;
        color: $colorD;

    }

    p {
        font-size: 16px;
        color: $colorA;
        margin: 0;
    }
}