.service-card {
    position: relative;
    padding: 30px 20px 30px 20px;
    text-align: center;
    border-color: $colorD;
}

.service-icon {
    i {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 42px;
        color: $color-primary-0;
        background-color: #f9f9f9;
        border-radius: 50%;
    }
}

.service-heading {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0 10px 0;
    color: $color5;
    font-family: $fontHeading;
}

.service-body {

    p {
        font-size: 14px;
        color: $colorA;
        margin-bottom: 0;
    }
}

.service-card-1 {
    position: relative;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;
    border: 1px solid $colorD;

    .service-icon {
        i {
            width: 70px;
            height: 70px;
            line-height: 70px;
            background-color: transparent;
        }
    }
}

.service-card-2 {
    position: relative;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;

    .tbl-cell {
        vertical-align: top;
        &:nth-last-child(1) {
            text-align: left;
            padding: 0 0 0 20px;
        }
    }

    .service-heading {
        padding: 0 0 10px 0;
    }
}

.service-card-3 {
    position: relative;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid $colorE;
    padding: 60px 0 20px 0;
    margin: 50px 0 30px 0;

    .service-icon {
        position: absolute;
        width: 100%;
        top: -50px;
        text-align: center;

        i {
            color: $colorE;
            background-color: $color-primary-0;
        }
    }

    .service-heading, .service-body {
        padding: 0 10px;
    }

    .service-heading {
        color: $color5;
        margin-bottom: 10px;
    }
}

.service-card-4 {
    position: relative;
    padding: 0 20px 30px 20px;
    text-align: center;
}

.about {
    background-color: #fafafa;
}

.app-about {
}

.icon-widget {
    padding: 25px 25px 15px 25px;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.icon-widget-heading {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

.icon-widget-body {
    padding: 10px 0 0 0;

    p {
        width: 50%;
        margin: 0;
        color: #777;
        font-size: 50px;
    }
}