.side-mobile-header {
    display: none;

    .tbl-cell {
        width: 100%;
    }
}

.side-panel {
    width: 300px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 9999;
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.close-panel-icon {
    position: absolute;
    top: 0;

    a {
        display: block;
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 24px;
        color: $color9;
        text-align: center;
        cursor: pointer;

        &:hover {
            color: $color-danger;
        }
    }
}

.side-panel-left {
    left: -300px;

    .close-panel-icon {
        right: 0;
    }

    &.active {
        left: 0;
    }
}

.side-panel-right {
    right: -300px;

    .close-panel-icon {
        left: 0;
    }

    &.active {
        right: 0;
    }
}

.panel-active {
    left: 0;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}

.panel-light {
    background-color: $colorF;
}

.panel-dark {
    background: #30353e;
    .side-panel-menu {
        ul {
            li {
                a {
                    color: $colorE;
                }
            }
        }
    }

    .side-panel-separator {
        border-color: $colorD;
    }
}

.panel-colored {
    background: $color-primary-0;
    .close-panel-icon {
        a {
            color: $colorC;
        }
    }

    .side-panel-menu {
        ul {
            li {
                a {
                    color: $colorE;
                }
            }
        }
    }

    .side-panel-separator {
        border-color: $colorD;
    }
}

.side-panel-content {
}

.side-panel-logo {
    padding: 30px 20px 0 20px;
    text-align: center;

    img {
        height: 30px;
    }
}

.side-panel-menu {
    padding: 0 20px;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            padding: 10px;
            font-size: 16px;
            font-family: $fontHeading;
            a {
                color: $color3;
            }
        }
    }
}

.side-panel-separator {
    margin: 30px 0;
    border-bottom: 2px dashed $colorE;
}

.side-menu-active {
    margin-left: 300px;
}