.team-block {
    margin-bottom: 30px;
    background-color: #fafafa;

    &:hover {

        .team-description {
            opacity: 1;
            visibility: visible;

            p, span {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }
    }
}

.team-img {
    position: relative;

    img {
        width: 100%;
    }
}

.team-details {
    padding: 10px;

    h3 {
        font-size: 20px;
        color: $color5;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        color: $colorA;
        margin: 0 0 0 5px;
    }
}

.team-social {

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 5px;
            list-style: none;

            a {
                display: block;
                padding: 5px;
                font-size: 20px;
                color: $color7;

                &:hover {
                    color: $color-primary-0;
                }
            }
        }
    }
}

.team-description {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 20px;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    >div {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        background-color: rgba(255,255,255,.9);

        span, p {
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
        }

        span {
            display: block;
            font-family: $fontHeading;
            padding: 0 0 15px 0;
            font-size: 18px;
            font-weight: 600;
            color: $color3;
        }

        p {
            font-size: 12px;
            letter-spacing: .5px;
            font-weight: 500;
            color: $color5;
        }
    }
}

.team-block-1 {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #fafafa;

    .team-img {

        img {
            width: 120px;
            margin: 0 auto;
            border-radius: 50%;
        }
    }

    .team-details {
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }

    .team-description {
        position: relative;
    }

    .team-content {
        padding: 20px 0 0 0;
        margin: 20px 0 0 0;
        border-top: 1px solid #f1f1f1;

        p {
            font-size: 13px;
            color: $color9;
        }
    }

    .team-link {

    }
}

.team-container {
    transition: all .4s ease-in-out;
}

.team-block-03 {

    &:hover {
        .team-container {
            background: $color-primary-0;
            color: $colorF;

            .team-details {
                h3 {
                    color: $colorF;
                }
                p {
                    color: $colorE;
                }
            }

            .team-social {
                ul {
                    li {
                        a {
                            color: $colorD;
                            &:hover {
                                color: $colorF;
                            }
                        }
                    }
                }
            }
        }
    }
}

.team-block-04 {
    position: relative;
    margin-bottom: 30px;

    &:hover {

        .team-description {
            opacity: 1;
            visibility: visible;

            p, span {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0,1) 0%, rgba(0, 0, 0,0) 70%);
        transition: all ease-in 400ms;
    }

    .team-description {
        height: 60%;
        background-color: transparent;

        >div {
            background-color: rgba(255,255,255,.75);
        }
    }

    .team-container {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 11;

        .team-details {

            h3 {
                font-size: 32px;
                color: $colorF;
                margin: 0;
            }

            p {
                color: $color-primary-0;
            }
        }

        .team-social {
            ul {
                li {
                    a {
                        width: 48px;
                        height: 48px;
                        line-height: 50px;
                        padding: 0;
                        color: $colorE;
                        border: 1px solid $colorE;
                        border-radius: 50%;
                        transition: all .4s ease-in-out;

                        &:hover {
                            color: $color-primary-0;
                            background-color: $colorF;
                            border-color: $colorF;
                        }
                    }
                }
            }
        }
    }
}

.team-block-05 {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    .team-container {
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        background-color: rgba(0,0,0,.7);
        z-index: 1;

        .team-details {

            h3 {
                color: $colorF;
            }

            p {
                color: $colorE;
            }
        }

        .content {
            padding: 10px 15px;
            font-size: 14px;
            color: $colorE;
            letter-spacing: .5px;
        }

        .team-social {
            text-align: center;
            ul {
                li {
                    a {
                        width: 48px;
                        height: 48px;
                        line-height: 50px;
                        padding: 0;
                        background-color: $colorF;
                        border-radius: 50%;
                        transition: all .4s ease-in-out;

                        &:hover {
                            color: $colorF;
                            background-color: $color-primary-0;
                        }
                    }
                }
            }
        }
    }

    &:hover {
        .team-container {
            top: 30%;
        }
    }
}

.team-block-06 {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    .team-container {
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        background-color: rgba(0,0,0,.7);
        z-index: 1;

        .team-details {

            h3 {
                color: $colorF;
            }

            p {
                color: $colorE;
            }
        }
    }

    .team-details {
        h3 {
            color: $colorF;
        }

        p {
            color: $colorE;
        }
    }

    .team-content {
        p {
            color: $colorE;
        }
    }

    .team-link {
        a {
            color: $colorF;
        }
    }
}

.team-block-07 {
    margin-bottom: 15px;
    text-align: center;

    &:hover {

        .team-img {

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $color-primary-rgba-60;
                border-radius: 50%;
            }
        }
    }

    .team-img {
        position: relative;
        transition: all .4s ease-in-out;
        img {
            border-radius: 50%;
        }
    }
}

.flip-container {
    position: relative;
    width: 100%;    
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

    &:hover {
        .flip {
            .front {
                z-index: 900;
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
            }

            .back {
                z-index: 1000;
                -webkit-transform: rotateX(0deg) rotateY(0deg);
                -moz-transform: rotateX(0deg) rotateY(0deg);
            }
        }
    }
}

.flip {
    width: 100%;
    -moz-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
    transition: all .7s ease 0s;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    .front {
        position: relative;
        width: 100%;
        z-index: 900;
        text-align: center;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        transition: all .5s ease-in-out;
    }

    .back {
        height: inherit;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1000;
        background-color: #999;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        transition: all .5s ease-in-out;
    }
}