.testimonial {
    padding: 20px 0;
    background-color: $color-primary-4;

    .owl-carousel .owl-item img {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
    }
}

.testimonial-block {
    padding: 10px;
    text-align: center;
}

.testimonial-img {

    span {
        font-size: 20px;
        color: $colorE;
        font-weight: 400;
        display: block;
        margin: 20px 0 0 0;
    }
    p {
        font-size: 14px;
        color: $colorE;
        margin: 10px 0 5px 0;
    }
}

.testimonial-detail {
    padding: 0 10px;

    i {
        font-size: 24px;
        padding: 20px;
        color: $color9;
        border: 3px solid $color9;
        border-radius: 50%;
    }

    p {
        font-size: 16px;
        color: $colorC;
        font-weight: 300;
        letter-spacing: .5px;
        margin: 40px 0;
    }
}

.testimonial-1 {
    width: 100%;
    min-height: 450px;
    background: $color-primary-4;

    .background {
        position: relative;
        width: 100%;
        height: 450px;
        background-image: url(../../uploads/slider-law-2.jpg);
        background-size: cover;
        background-position: center;
    }

    .owl-carousel {
        .owl-item {

            img {
                width: 70px;
                height: 70px;
            }
        }
    }

    .testimonial-img {
        >div {
            display: inline-block;
            vertical-align: middle;

        }
        .img {
            padding: 0 10px 0 0;             
        }

        .person {
            text-align: left;
            span {
                color: $colorA;
                margin: 0;
            }
            p {
                color: $colorC;
                margin: 0;
            }
        }
    }
}