/** Quita el border radius por default, visualizando un boton completamente cuadrado color blanco */
.btn-cuadrado-transparente {
    border-radius: 0;
    background: transparent;
    color: #ffffff;
    border: 2px solid rgba(255,255,255,0.4);

    .fa {
        display: none;
        transition: opacity 0.2s, right 0.2s;
    }

    &:hover {
        border: 2px solid rgba(255,255,255,1);
        color: #ffffff;

        .fa {
            display: inline;
        }
    }
}


/** Quita el border radius por default, visualizando un boton completamente cuadrado color blanco y hover gris */
.btn-cuadrado-transparente-hover-gris {
    border-radius: 0;
    background: transparent;
    color: rgba(0,0,0,0.6);
    border: 2px solid rgba(0,0,0,0.4);

    .fa {
        display: none;
        transition: opacity 0.2s, right 0.2s;
    }

    &:hover {
        background: #333333;
        border-color: #333333;
        color: #fff;
        border: 2px solid rgba(0,0,0,0.4);

        .fa {
            display: inline;
        }
    }
}

