.contacto {

    .page-ttl-container h1 {
        color:#333;
    }

    .page-ttl-container h1::before, .page-ttl-container h1:after {
        background: #333;
    }

    .titulo-contacto {
        text-align: center;
    }

    .wpcf7-form {

        /** Pone color del boton en gris en el formulario de contacto */
        .button-primary {

            background: #333333;
            color:#fff;
        }
    }


    /** Para que el mapa se muestr correctamente */
    .acf-map {
        > div {
 
            height: 200px !important;
            position: static !important;
        }
    }
}