/** Quita el border en las secciones del footer  */
.footer-block {

    &:nth-child(2) {
        border-left: 0;
        border-right: 0;
    }
}

.footer-ttl {

    text-align: center;
    padding: 0px 0px 20px 0px;

}