.hdr-logo a img {
    max-width: 200px;
    height: 60px;
}

/** MENU - Poner todo en mayúsculas. que esté semitransparente y cuando se hace hover se pone más opaco (ver TFC) */
.header-dark {

    .menu {

        > li { 

            a {

                opacity: 0.6;
                text-transform: uppercase;

                &::after {
                    width: 0;
                    background: transparent;
                }

                &:hover{
                    opacity: 1;
                    transition: all 0.5s ease;

                    &::after {
                        width: 0;
                    }
                }
            }

        }
    }
}