#slider {
    height:100vh; 
}

/** TODO -el slider tiene que ser full-size (que ocupe todo el alto y ancho de la pantalla) y que no tenga opacidad */
.slider-dark { 

    .slides {
        li {
            &::after {
                background: rgba(0, 0, 0, .4);
            }
        }
    }
}


/** TODO -El texto del slider tiene que estar alineado a la izquierda y el título en mayúsculas */
.slider-info { 

    text-align: left;
    padding: 10px 60px 10px 120px;

    h1 {
        text-transform: uppercase;
    }
}


/** Sobre escribe los colores igual que tfcutilities */

.feature-block {

    background-color: $color-primary-0;

    &:nth-child(1) {
        background-color: #707070;
    }

    &:nth-child(2) {
        background-color: rgb(10, 73, 123);
    }

    &:nth-child(3) {
        background-color: rgb(28, 146, 201);
    }

    &:nth-child(4) {
        background-color: #fff;
    }
}

@include media-breakpoint-only(sm) { 

    #slider {

        .slider-info {

            text-align: center;
            padding: 10px 15px 10px 15px;
        }
    }
 }

@include media-breakpoint-only(xs) { 

    #slider {

        .slider-info {

            text-align: center;
            padding: 10px 10px 10px 10px;
        }
    }
 }

