.services {

    /** Para que todas las imagenes del mosaico en servicios tengan la misma altura*/
    .mosaico-wraper-img {

        padding: 0;

        img {
            height: 100%;
            margin:0;
        }
    }

    /** Para que la descripción del mosaico tenga la misma altura que las imagenes  */
    .mosaico-wraper-desc {

        padding: 0;
        min-height: 100%;

        ul {
            list-style: square outside;
        }
    }

    
    .mosaico {

        .row {
            .col-12, .col-md-6 {
                min-height: 100%;
            }
            
        }
    }
}

/*
@media (min-width: 1440px) { 

    .services { 
        .mosaico-wraper-img {

            img {
                height: 584px;
                min-width: 900px;
            }
        }

        .mosaico {

            .row {
                height: 584px;
    
                .col-12, .col-md-6 {
                    min-height: 584px;
                }
            }
        }
    }

    
}


@media (min-width: 1900px) { 

    .services { 
        .mosaico-wraper-img {

            img {
                height: 584px;
                min-width: 1280px;
            }
        }

        .mosaico {

            .row {
                height: 584px;
    
                .col-12, .col-md-6 {
                    min-height: 584px;
                }
            }
        }
    }
}
*/