#mysticky-nav.wrapfixed{
    opacity: 1 !important
} 
#mysticky-nav .myfixed { 
    margin:0 auto; 
    float:none; 
    border:0px; 
    background:#fff; 
    max-width:100%;
    top:0px; 
} 
#mysticky-nav .myfixed .menu > li a { 
    color:#353535 !important; 
} 
#mysticky-wrap .div-logo {
    background:url(./wp-content/themes/toscano_international/assets/images/Logo_azul.png)no-repeat !important; 
}

@media (max-width: 767.98px) { 

    #mysticky-nav .myfixed .menu > li a {
        opacity: 1;
        color: #fff !important;
    }
 }