/*------------------------------------------------------------------
[Master SASS Stylesheet]

Project  :  APEZ Template
Version  :  1.6
Author   :  Pepdev
Website  :  www.pepdev.com
-------------------------------------------------------------------*/
/**
* Table of Contents :
* BASIC CSS START
* BOOTSTRAP CSS START
* HEADER CSS START
* SIDE PANEL CSS START
* HOME PAGE CSS START
* SERVICE CSS START
* APP FEATURE CSS START
* PORTFOLIO CSS START
* GRID CSS START
* LIST CSS START
* GALLERY PAGE CSS START
* TEAM CSS START
* PRODUCT CSS START
* ACTION CSS START
* FUNFACTS CSS START
* TESTIMONIAL CSS START
* BLOG CSS START
* FORM CSS START
* CONTACT CSS START
* EVENT CSS START
* FOOTER CSS START
* MEDIA QUERIES START

[Color codes]

Background: #FCFCFC ( Body Color )
Content:    #555 ( Light black )
Content:    #777 ( Lighter black )
Content:    #DDD ( Lighter White )
Content:    #EEE ( Light White )
Header h1:  #333 ( Black )
Header h2:  #555 ( Light Black )
Footer:     $footerColor ( Check 'sass/partials/variable.scss' file )
a (active): $color-primary-0 ( Check 'sass/partials/variable.scss' file)
Primary Color: $color-primary-0 ( Check 'sass/partials/variable.scss' file )
Blue Color = #3483FF ( Blue Color )
Green Color = #54C798 ( Green Color )
Orange Color = #EFA752 ( Orange Color )
Purple Color = #A675D4 ( Purple Color )

[Typography]

Body copy:  14px/ font-family: "Poppins", sans-serif;
h1, h2, h3, h4, h5, h6: 36px/ font-family: "Dosis", sans-serif;
Sidebar heading:  font-family: "Dosis", sans-serif;
Input, textarea:  font-family: "Poppins", sans-serif;

-------------------------------------------------------------------*/

@import "partials/_variable.scss";

/************************************************
[ BASIC CSS START ] *****************************
*************************************************/

@import "theme/_basic.scss";

/************************************************
[ ICON CSS START ] ******************************
*************************************************/
@import "./assets/icons/simple-line-icons/css/simple-line-icons.min.css";
@import "./assets/icons/themify/css/themify-icons.css";

/************************************************
[ Common CSS START ] *************************
*************************************************/

/* [ PANEL CSS START ] */

@import "_panel.scss";

/* [ ALERTS CSS START ] */

@import "_alerts.scss";

/* [ PAGIANTION CSS START ] */

@import "_pagination.scss";

/* [ TABS CSS START ] */

@import "_tabs.scss";

/* [ PROGRESSBAR CSS START ] */

@import "_progressbars.scss";

/* [ ACCORDION CSS START ] */

@import "_accordions.scss";

/* [ COMMON CSS START ] */

@import "_common.scss";

/* [ BUTTON CSS START ] */

@import "_buttons.scss";

/* [ SOCIAL BUTTON CSS START ] */

@import "_social.scss";

/* [ THEME TABLE CSS START ] */

@import "_tables.scss";

/* [ PRICING TABLE CSS START ] */

@import "_pricingtable.scss";

/* [ COLOR BAR START ] */

//*************************************************
//Color Class *************************************
//************************************************* 

@import "theme/_color_class.scss";

//*************************************************
//Page not found *************************************
//************************************************* 

@import "theme/_not_found_page.scss";

/**************************************************
[ WRAPPER CSS START ] ******************************
***************************************************/

@import "theme/_wrapper.scss";

/**************************************************
[ HEADER CSS START ] ******************************
***************************************************/

@import "theme/_header.scss";

/**************************************************
[ SIDE PANEL CSS START ] **************************
***************************************************/

@import "theme/_side_panel.scss";

/*************************************************
[ HOME PAGE CSS START ] **************************
**************************************************/

@import "theme/_home.scss";

/*************************************************
[ SERVICE CSS START ] ****************************
**************************************************/

@import "theme/_service.scss";


/*************************************************
[ APP FEATURE CSS START ] ************************
**************************************************/

@import "theme/_appfeature.scss";

/*************************************************
[ PORTFOLIO CSS START ] **************************
**************************************************/

@import "theme/_portafolio.scss";

/*************************************************
[ GRID CSS START ] *******************************
**************************************************/

@import "theme/_grid.scss";

/*************************************************
[ LIST CSS START ] *******************************
**************************************************/

@import "theme/_list.scss";

/*************************************************
[ GALLERY PAGE CSS START ] ******************
**************************************************/

@import "theme/_gallery.scss";

/*************************************************
[ TEAM CSS START ] *******************************
**************************************************/

@import "theme/_team.scss";

/*************************************************
[ REAL STATE CSS START ] *************************
**************************************************/

@import "theme/_real_state.scss";


/*************************************************
[ PRODUCT CSS START ] ****************************
**************************************************/

@import "theme/_productos.scss";


/*************************************************
[ ACTION CSS START ] *****************************
**************************************************/

@import "theme/_action.scss";

/*************************************************
[ FUNFACTS CSS START ] ***************************
**************************************************/

@import "theme/_funfacts.scss";

/*************************************************
[ TESTIMONIAL CSS START ] ************************
**************************************************/

@import "theme/_testimonial.scss";

/*************************************************
[ BLOG CSS START ] *******************************
**************************************************/

@import "theme/_blog.scss";

/*************************************************
[ Form CSS START ] *******************************
**************************************************/
@import "theme/_form.scss";

/*************************************************
[ Contact CSS START ] ****************************
**************************************************/

@import "theme/_contacto.scss";

/*************************************************
[ EVENT CSS START ] ******************************
**************************************************/

@import "theme/_event.scss";


/*************************************************
[ Footer CSS START ] *****************************
**************************************************/

@import "theme/_footer.scss";

/*************************************************
[ ADD CUSTOM CSS START :v ] **********************
**************************************************/

@import "theme/_mosaico.scss";

/*************************************************
[ MEDIA QUERIES START ] **************************
**************************************************/
@import "_responsive.scss";
@import "_daterangepicker.scss";



/*************************************************
[ CUSTOM PARA ESTE PROYECTO ] ********************
**************************************************/

@import "custom/_bg.scss";
@import "custom/_buttons.scss";
@import "custom/_header.scss";
@import "custom/_home.scss";
@import "custom/_services.scss";
@import "custom/_contacto.scss";
@import "custom/_footer.scss";